<%= form_for(@recur) do |f| %>

<script type="text/javascript">
  $(function () {
  $('#enddatetimepicker').datetimepicker({ showTodayButton: true, defaultDate: "<%= Date.today.strftime("%m/%d/%Y") %>", format: "YYYY-MM-DD" });
  });
</script>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Set Recurrence Options  
        </a>
      </h4>
    </div>
    
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class = 'row'>
          <div class = 'col-md-3'>
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                Recurs
              </span>
              <span class="input-group-addon" id="basic-addon2"><%= f.check_box :recurs, :class => 'Form-control' %></span>
            </div>
          </div>
          <div class = 'col-md-5'>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
              <%= f.select :frequency, ['Daily','Weekly','Monthly'], {prompt: "Select Frequency"}, {class: "form-control"} %>
            </div>
          </div>
          <div class = 'col-md-4'>
              <div class="input-group input-group-sm" id='enddatetimepicker'>
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <%= f.text_field :enddate, :class => "form-control" %>
              </div>
          </div>
          </div><p></p>
        <div class='row'>
          <div class = 'col-md-8'>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <% if @recur.daypattern.nil? %>
                <% (0..6).each do |d| %>
                  <label class="btn btn-primary active">
                    <input type="checkbox" autocomplete="off"> <%= Date::DAYNAMES[d].slice(0,3) %>
                  </label>
                <% end %>
              <% else %>
                <% @recur.daypattern.to_s.split(//).each do |d| %>
                  <label class="btn btn-primary active">
                    <input type="checkbox" autocomplete="off" checked> <%= Date::DAYNAMES[d].slice(0,3) %>
                  </label>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
