<%= form_for(@recur) do |f| %>
  <% if @recur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recur.errors.count, "error") %> prohibited this recur from being saved:</h2>

      <ul>
      <% @recur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <div class="field">
    <%= f.label :recurs %>
    <%= f.check_box :recurs %>
  </div>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
  <p><div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
          <%= f.select :frequency, [1,2,3,4,5], {prompt: "Select Frequency"}, {class: "form-control"} %>
        </div></p>
  <div class="field">
    <%= f.label :daypattern %><br>
    <%= f.text_field :daypattern %>
  </div>

  <script type="text/javascript">
  $(function () {
  $('#enddatetimepicker').datetimepicker({ showTodayButton: true, defaultDate: "<%= Date.today.strftime("%m/%d/%Y") %>", format: "YYYY-MM-DD" });
  });
</script>

        <p><div class="input-group input-group-sm" id='enddatetimepicker'>
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
          <%= f.text_field :enddate, :class => "form-control" %>
        </div></p>
  <div class="actions">
    <%= f.submit %>
  </div>
      </div>
    </div>
  </div>
  </div>

  
<% end %>
