<%= form_for(@recur) do |f| %>
  <% if @recur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recur.errors.count, "error") %> prohibited this recur from being saved:</h2>

      <ul>
      <% @recur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <div class="field">
    <%= f.label :recurs %>
    <%= f.check_box :recurs %>
  </div>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :daypattern %><br>
    <%= f.text_field :daypattern %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br>
    <%= f.date_select :enddate %>
  </div>
  <div class="field">
    <%= f.label :latestdate %><br>
    <%= f.date_select :latestdate %>
  </div>
  <div class="field">
    <%= f.label :nextdate %><br>
    <%= f.date_select :nextdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
      </div>
    </div>
  </div>
  </div>

  
<% end %>
