<h1>Listing recurs</h1>

<table>
  <thead>
    <tr>
      <th>Recurs</th>
      <th>{</th>
      <th>False}</th>
      <th>Frequency</th>
      <th>Daypattern</th>
      <th>Enddate</th>
      <th>Latestdate</th>
      <th>Nextdate</th>
      <th>Todo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurs.each do |recur| %>
      <tr>
        <td><%= recur.recurs %></td>
        <td><%= recur.{ %></td>
        <td><%= recur.false} %></td>
        <td><%= recur.frequency %></td>
        <td><%= recur.daypattern %></td>
        <td><%= recur.enddate %></td>
        <td><%= recur.latestdate %></td>
        <td><%= recur.nextdate %></td>
        <td><%= recur.todo %></td>
        <td><%= link_to 'Show', recur %></td>
        <td><%= link_to 'Edit', edit_recur_path(recur) %></td>
        <td><%= link_to 'Destroy', recur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recur', new_recur_path %>
