<p id="notice"><%= notice %></p>

<p>
  <strong>Recurs:</strong>
  <%= @recur.recurs %>
</p>

<p>
  <strong>{:</strong>
  <%= @recur.{ %>
</p>

<p>
  <strong>False}:</strong>
  <%= @recur.false} %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @recur.frequency %>
</p>

<p>
  <strong>Daypattern:</strong>
  <%= @recur.daypattern %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @recur.enddate %>
</p>

<p>
  <strong>Latestdate:</strong>
  <%= @recur.latestdate %>
</p>

<p>
  <strong>Nextdate:</strong>
  <%= @recur.nextdate %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @recur.todo %>
</p>

<%= link_to 'Edit', edit_recur_path(@recur) %> |
<%= link_to 'Back', recurs_path %>
