<% if @comments.count == 0 %>
	No comments, use the text box below to add a comment for this task.</br>
<% else %>
	<% @comments.each do |comment| %>
		<div class = "row">
			<div class = "col-md-2" id="followup<%= comment.id %>"><%= render partial: 'followups/status', locals: { followup: comment.followup } %></div>
			<div class = "col-md-6"><%= comment.details %></div>
			<div class = "col-md-4"><p class = "text-right">
				<small><i><%= comment.created_at.strftime('%a %e %b %Y %H:%M') %></i></small> 
				<%= link_to '&times;'.html_safe, '/' %></p>
			</div>
		</div></p>
	<% end %>
<% end %>