<h1><%= @project.name.titleize %> Items 
<small><%= @completedtodos.to_s %> / <%= @totaltodos.to_s %> Complete</small>
</h1>
<h4><%= @project.description %></h4>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= number_to_percentage(@completedtodos.to_f * 100 / @totaltodos, precision: 0) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(@completedtodos.to_f * 100 / @totaltodos, precision: 0) %>;">
    <% unless @completedtodos == 0 %><%= number_to_percentage(@completedtodos.to_f * 100 / @totaltodos, precision: 0) %> Complete<% end %>
  </div>
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= number_to_percentage(@inprogresstodos.to_f * 100 / @totaltodos, precision: 0) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(@inprogresstodos.to_f * 100 / @totaltodos, precision: 0) %>">
    <% unless @inprogresstodos == 0 %><%= number_to_percentage(@inprogresstodos.to_f * 100 / @totaltodos, precision: 0) %> In Progress<% end %>
  </div>
  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="<%= number_to_percentage(@overduetodos.to_f * 100 / @totaltodos, precision: 0) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(@overduetodos.to_f * 100 / @totaltodos, precision: 0) %>">
    <% unless @overduetodos == 0 %><%= number_to_percentage(@overduetodos.to_f * 100 / @totaltodos, precision: 0) %> Overdue<% end %>
  </div>
</div>
