<div class = "row" id='<%= todo.id %>' >
  <div class = "col-md-8">
      <dl>
      <dt>
      <div class = "col-md-9">
        <span class="glyphicon glyphicon-chevron-right text-primary"></span>
        <% if todo.importance == 3 %> <span class="glyphicon glyphicon-exclamation-sign text-danger" title = "High Priority"></span><% end %> <%= link_to todo.name.titleize, todo, remote: true %>
      </div>
      <div class = "col-md-3">
        <div class = "col-md-7"><%= link_to '<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>'.html_safe, new_todo_comment_path(todo, @comment), remote: true %> <small><%= todo.comments.count %></small> <% unless todo.comments.joins(:followup).where('followups.complete = false').count == 0 %> <span class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span><% end %></div>
        <div class = "col-md-5"><%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, todo, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></div>
      </div>
      </dt>
      <dd>
      <div class = "col-md-10">
        <% if todo.status.complete == false %>
          <% if todo.duedate < Date.today %>
          <span class="label label-danger">Overdue <%= distance_of_time_in_words_to_now(todo.duedate) %></span>
          <% else %>
           <span class="label label-default">Due <%= distance_of_time_in_words_to_now(todo.duedate) %></span>
          <% end %>
        <% end %>
        <span class="label label-default"><%= todo.points.to_s + ' point'.pluralize(todo.points) %></span>
        <%= link_to todo.project, remote: true do %><span class="label label-default"><%= todo.slug %></span><% end %>
      </div>
      </dd>
      <dd>
      <div class = "col-md-10"><%= todo.details %></div>
      </dd>
      </dl>
  </div>
  <div class = "col-md-2" id = "todostatus<%= todo.status.id %>"><%= render partial: 'statuses/updatestatus', locals: { status: todo.status } %></div>
  <div class = "col-md-2">
  <%= form_for todo, remote: true, :authenticity_token => true, :html => { :id => 'assigneddate-update-form-' + todo.id.to_s } do |f| %>
    <div class="input-group date input-group-sm" id='tododatetimepicker<%= todo.id %>'>
      <span class="input-group-addon" id='addon'>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </span>
      <%= f.text_field :assigneddate, :class => 'form-control' %>
    </div>
    <%= f.submit 'Assign To Date', :class => 'btn btn-default btn-sm' %>

    <script type="text/javascript">
      $(function(){
        $('#tododatetimepicker<%= todo.id %>').datetimepicker({ showTodayButton: true, defaultDate: "<%= Date.today.strftime("%m/%d/%Y") %>", format: "YYYY-MM-DD" });
        });
    </script>
  <% end %>
  </div>
</div>
<br>