<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jarvis</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Todos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create Todo', new_todo_path, remote: true %></li>
            <li><a href="/todos">View All</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/categories/work">Work</a></li>
            <li><a href="/categories/personal">Personal</a></li>
            <li><a href="/categories/other">Other</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create Project', new_project_path, remote: true %></li>
            <li><a href="/projects">View All</a></li>
            <li role="separator" class="divider"></li>
            <% if Project.where(:user_id => session[:user_id], :isactive => true).count == 0 %>
            	<li><a href="#">You don't have any projects</a></li>
            <% else %>
            	<% Project.where(:user_id => session[:user_id], :isactive => true).order(name: :asc).each do |project| %>
            	<li><%= link_to project.name, project %></li>
            	<% end %>
            <% end %>
          </ul>
        </li>
      </ul>
      <% unless session[:user_id].nil? %>
        <%= form_for Todo.navnew, remote: true, :html => {:class => "navbar-form navbar-left"} do |f| %>
        <div class="input-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Get this done..." %>
        <span class="input-group-btn">
          <%= f.submit "Add", class: "btn btn-default" %>
        </span>
        </div>

        <% end %>

      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <% unless session[:user_id].nil? %>
          <li><%= link_to 'Sign Out', session_path(session[:user_id]), method: :delete %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>