<div class="btn-group">
  <a href="/projects" type="button" class="btn btn-default">Manage Projects</a>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <% unless session[:user_id].nil? %>
	  	<li role="presentation"><%= link_to 'Create Project', new_project_path, remote: true %></li>
	  	<li role="separator" class="divider"></li>
	  	<li role="presentation" <% if session[:active_project] == session[:user_id].to_s + '-no-project' %>  class ="active" <% else %> class ="tab-pane fade in"<% end %> data-toggle="tooltip" data-placement="bottom" title="Todos: "><a href="/projects/<%= session[:user_id] %>-no-project" data-remote = "true">No Project</a></li>
	  	<li role="separator" class="divider"></li>
	  	<% User.find_by_id(session[:user_id]).projects.where(:isactive => true).where.not(:name => 'No Project').order(:name).all.each do |project| %>
				<li role="presentation" <% if project.slug == session[:active_project]%> class ="tab-pane fade in active" <% else %> class ="tab-pane fade in"<% end %> >
				<%= link_to project, remote: true do %>
					
					<div class="content show-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Todos: <%= project.todos.count %>  --  Due Today: <%= project.todos.where('duedate = curdate()').count %>  --  Overdue: <%= project.todos.joins(:status).where('todos.duedate < curdate() and statuses.complete = false').count %>"><span class="badge"><%= project.todos.joins(:status).where("curdate() >= todos.duedate and statuses.complete = false").count %></span> <%= project.name.titleize %> 
						<% if project.todos.joins(:status).where("curdate() > todos.duedate and statuses.complete = false").count > 0 %>
						<span class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
						<% end %>
					</div>
				<% end %>

				</li>
			<% end %>
		<% end %>
  </ul>
</div>
<p>
<div class="btn-group">
  <a href="#" type="button" class="btn btn-default">Categories</a>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <% unless session[:user_id].nil? %>
	  <li role="presentation" <% if session[:active_project] == session[:user_id].to_s + '-no-project' %>  class ="active" <% else %> class ="tab-pane fade in"<% end %> data-toggle="tooltip" data-placement="bottom" title="Todos: "><a href="/categories/work" data-remote = "true">Work</a></li>
	  <li role="presentation" <% if session[:active_project] == session[:user_id].to_s + '-no-project' %>  class ="active" <% else %> class ="tab-pane fade in"<% end %> data-toggle="tooltip" data-placement="bottom" title="Todos: "><a href="/categories/personal" data-remote = "true">Personal</a></li>
	  <li role="presentation" <% if session[:active_project] == session[:user_id].to_s + '-no-project' %>  class ="active" <% else %> class ="tab-pane fade in"<% end %> data-toggle="tooltip" data-placement="bottom" title="Todos: "><a href="/categories/other" data-remote = "true">Other</a></li>
	<% end %>
  </ul>
</div>
<hr>
